<style>li { margin: 0.5em 0; }</style>

<h2>Where to go from here</h2>

<p>We are no longer publishing new signatures to the pledge on this website, but you can still support our movement!</p>

<p>Over 2,500 people have signed the pledge in a single week, ranging from individual professionals to managers and executives, belonging to organizations ranging from the largest U. S. tech companies to government departments to startups to one-person consultancies. This is a clear demonstration that a wide cross-section of tech workers are opposed to the U.S. government using databases to target people by race, religion, or national origin&mdash;so much so that they are willing to put their jobs and their reputations on the line to prevent this from happening.</p>

<p>We are heartened and grateful for your enthusiasm and support! While we would love to keep publishing new signatures on this web site, verifying thousands of signatures expends a great deal of human effort and we were starting to burn out our volunteers. If you are passionate about this issue, there are many ways to make a difference. As tech workers, we have extraordinary power and influence in the upcoming days. If you signed or wanted to sign this pledge, here are some ideas for further actions you can take as a tech worker:</p>

<ul>
  <li>Tweet "I, <var>&lt;your name&gt;</var>, hereby commit to the neveragain.tech pledge. Please stand with me and hold me to it. #neveragaintech"

  <li>Post "I, <var>&lt;your name&gt;</var>, hereby commit to the neveragain.tech pledge. Please stand with me and hold me to it." on your personal website or blog, with a link to http://neveragain.tech/.

  <li>Print out the pledge and sign it on paper. Post it in a visible location to show solidarity and gather signatures from your teammates. Host a signing party at your workplace.</li>

  <li>Print out the pledge and post copies of it in public places where other tech workers will see it.</li>

  <li>Connect with others at your company, in your community, or in your industry who have similar values (some of them may be signatories to the pledge). Discuss with each other what kind of action you can take as a group. Have in-person meetings if you possibly can.</li>

  <li>Organize an in-person meeting of tech workers in your location. Invite speakers from local advocacy groups that work to protect the rights of people who are in ongoing or increased danger from the U.S. government. Continue to meet regularly. (See the <a href="https://techsolidarity.org/">Tech Solidarity meetups</a> for one example.)</li>

  <li>Discuss the issues addressed by this pledge in any professional organization you are part of (e.g., the ACM, a software foundation, a conference). Meet with others in the organization to discuss what actions you can take as a group. Form working groups with specific mandates.</li>

  <li>Donate money to organizations already doing relevant work. If you're not sure where to donate, you can ask someone who is a member of the group you are trying to help. Your employer may even have matching funds for charitable donations available, potentially doubling your impact. Some good places to start are listed on the <a href="http://neveragain.tech/resources.html">Resources</a> page.</li>

  <li>Volunteer your time to address the published volunteer wish lists of organizations doing relevant work. Listen to and support leaders from the groups you are trying to help and the organizations they run or advocate for. You can increase your impact if your company offers paid hours to volunteer, or matching funds for organizations you support with your time.</li>

</ul>

<p>The pledge has shown us that our workplaces and technical communities are full of people who share our concerns. Let’s take the time to find one another and talk together, so we can find comfort in numbers and feel less anxious about what the future might bring. Together, we can hold our companies accountable for the technologies we build, and act together in solidarity and in conjunction with advocacy organizations best positioned to resist discrimination.</p>

<p>Finally, if you take the pledge, please remember: the pledge is a personal, individual commitment; announcing your commitment is an invitation to others to help you hold yourself accountable.</p>

<p>Thank you and good luck!</p>

<p>&mdash; The <a href="http://neveragain.tech/about.html">neveragain.tech organizers</a></p>

