<a name="credits"></a><h2>Credits</h2>

<p>This pledge is the joint work of more than 50 tech workers who
helped write the pledge text, organized meetups that led to the
pledge, verified signatures, created the software infrastructure to
support it, managed volunteers, and spread the word about it. Some
people who worked on the pledge include:</p>

<a href="https://hypatia.ca/">Leigh Honeywell</a> (lead organizer) <br>
Ka-Ping Yee<br>
<a href="https://twitter.com/ichthyos">Eddie Kay</a> <br>
<a href="https://twitter.com/horrorcheck">Libby Horacek</a><br>
<a href="https://twitter.com/lizthegrey">Liz Fong-Jones</a> <br>
<a href="http://idlewords.com/">Maciej Cegłowski</a> <br>
<a href="https://twitter.com/mjg59">Matthew Garrett</a> <br>
<a href="https://twitter.com/0xabad1dea">Melissa Elliott</a> <br>
<a href="http://valerieaurora.org/">Valerie Aurora</a> <br>
