<h1>About the pledge organizers</h1>

<p>The <a href="/">Never Again pledge</a> is the joint work of more
than 50 tech workers who helped write the pledge text, organized
meetups that led to the pledge, verified signatures, created the
software infrastructure to support it, managed volunteers, and spread
the word about it. Some people who worked on the pledge include:</p>

<a href="https://hypatia.ca/">Leigh Honeywell</a> (lead organizer) <br>
<a href="http://twitter.com/zestyping">Ka-Ping Yee</a> (co-organizer) <br>
<a href="http://valerieaurora.org/">Valerie Aurora</a> (co-organizer) <br>
<a href="https://twitter.com/ichthyos">Eddie Kay</a> <br>
<a href="https://twitter.com/horrorcheck">Libby Horacek</a> <br>
<a href="https://twitter.com/lizthegrey">Liz Fong-Jones</a> (advice &amp; technical infrastructure)<br>
<a href="http://idlewords.com/">Maciej Cegłowski</a> <br>
<a href="https://twitter.com/mjg59">Matthew Garrett</a> <br>
<a href="https://twitter.com/0xabad1dea">Melissa Elliott</a> <br>
<br>

<p>The pledge grew out of
an <a href="https://sfbay.techsolidarity.org/2016/11/28/meeting_notes.htm">in-person
meeting</a> of tech workers to build solidarity, one of a series
organized by <a href="http://idlewords.com/">Maciej Cegłowski</a>. One
of the ground rules of these meetings is an explicit rejection of
"tech solutionism" - the idea that we can solve social problems purely
by creating new technical tools. Another is that any solutions we work
on should be led by people who are members of the groups the solution
is intended to help.</p>

<p>The volunteers behind the pledge include people who are at increased
risk from the upcoming U.S. administration: many of us are immigrants,
people of color, queer people, trans people, disabled people, and/or
women. We know from firsthand experience that empty gestures can
prevent people from taking real substantive action. That's why we
wrote a specific, action-oriented pledge and hand-verified the
signatures, instead of a vague, principle-oriented petition with
unverified signatures. A public pledge makes people more likely to
follow through on a private decision; we made it simple for thousands
of people to take that public pledge.</p>

<h1>Our theory of change</h1>

<p>Signing the pledge is far from an empty gesture: it's a public
commitment to a specific course of action, a request to be held
accountable by our peers, an invitation to organize with like-minded
folks, an encouragement to others to stand up for their values, and a
message of hope to others. Signing the pledge carries a real risk:
people who sign it could lose their current job, have trouble getting
future jobs, become the target of harassment or violence, or be
persecuted by the U.S. government. People who are members of
marginalized groups are especially vulnerable to these risks and less
likely to be able to sign it. We are grateful to everyone who had the
resources, support, and safety to take on this risk and sign the
pledge. We ask you not to pressure anyone to sign this pledge - they
know best whether they are able to sign the pledge.</p>

<p>This pledge is only a first step towards the goal of organizing tech
workers to fight against the use of technology to enable the expansion
of large scale human-rights abuses by the U.S. government. We
encourage tech workers to continue to organize and act together in
solidarity and in conjunction with <a href="resources.html">existing
advocacy organizations</a> to demand accountability, commitment, and
change from each other and from other organizations, including
corporations, news organizations, and the government. Check out
our <a href="resources.html">resources</a> for doing so.</p>
