
<h2>How to sign this pledge</h2>

<p>
If you would like to join us in signing this pledge,
we ask that you send us your name and
optional position, affiliation, and/or URL,
exactly as you would like to be listed here,
in one of the following ways:
<ul>
  <li>(preferred) <a href="https://github.com/neveragaindottech/neveragaindottech.github.io/">Send us a pull request on GitHub.</a>

  <li>(may take longer) Send email to neveragaindottech at gmail dot com in this format:
<pre>I am signing the pledge as:

(name here), (optional job title here), (optional organization here)

Link my signature to: (optional URL here)

Links for verification:
(your website URL)
(your LinkedIn URL)
(your GitHub URL, etc.)</pre>
  <ul>
    <li>To help us verify you, include links to your LinkedIn profile, GitHub profile, or personal website.
    <li>If possible, send from your workplace or school email account.  Otherwise, use an email account associated with your public profile or website.
    <li>If we can't clearly link your email account to your public identity, we can't accept your signature.
  </ul>
</ul>

