<blockquote><em>The tech industry's silence this time around is deafening.</em> <span class="nobr">&mdash;Chris De&nbsp;Vries</span> <a href="#footnote1">[]</a></span></blockquote>


<h2>Our pledge</h2>

<p>
We, the undersigned,
are employees of tech organizations and companies based in the United States.
We are engineers, designers, business executives, and others
whose jobs include managing or processing data about people.
We are choosing to stand in solidarity with Muslim Americans,
immigrants, and all people whose lives and livelihoods
are threatened by the incoming administration&rsquo;s
proposed data collection policies.
We refuse to build a database of people
based on their Constitutionally-protected religious beliefs.
We refuse to facilitate mass deportations
of people the government believes to be undesirable.

<p>
We have educated ourselves on the history of threats like these,
and on the roles that technology and technologists played
in carrying them out.
We see how <a href="http://www.ibmandtheholocaust.com/">IBM collaborated to digitize and streamline the Holocaust</a>,
contributing to the deaths of six million Jews and millions of others.
We recall the <a href="https://en.wikipedia.org/wiki/Internment_of_Japanese_Americans">internment of Japanese Americans</a>
during the Second World War.
We recognize that <a href="https://en.wikipedia.org/wiki/Armenian_Genocide#Deportations">mass deportations</a>
precipitated the very atrocity the word genocide
was <a href="https://en.wiktionary.org/wiki/genocide#Etymology">created</a> to describe:
the murder of 1.5 million Armenians in Turkey.
We acknowledge that
genocides are not merely a relic of the distant <span class="nobr">past&mdash;</span><wbr>among others,
<a href="http://www.rwandanstories.org/genocide/hate_radio.html">Tutsi Rwandans</a> and
<a href="https://en.wikipedia.org/wiki/Bosnian_genocide">Bosnian Muslims</a>
have been victims in our lifetimes.

<p>
Today we stand together to say: not on our watch, and never again.

<p>
We commit to the following actions:

<ul>
  <li>We refuse to participate in the creation of
  databases of identifying information
  for the United States government
  to target individuals based on race, religion, or national origin.

  <li>We will advocate within our organizations:
    <ul>
      <li>to minimize the collection and retention of data
      that would facilitate ethnic or religious targeting.
      <li>to scale back existing datasets
      with unnecessary racial, ethnic, and national origin data.
      <li>to responsibly destroy high-risk datasets and backups.
      <li>to implement security and privacy best practices,
      in particular,
      for end-to-end encryption to be the default wherever possible.
      <li>to demand appropriate legal process
      should the government request that we turn over
      user data collected by our organization, even in small amounts.
    </ul>

  <li>If we discover misuse of data that we consider illegal or unethical
  in our organizations:
    <ul>
      <li>We will work with our colleagues and leaders to correct it.
      <li>If we cannot stop these practices,
      we will exercise our <a href="https://www.shrm.org/resourcesandtools/legal-and-compliance/state-and-local-updates/pages/california-whistleblowers.aspx">rights</a> and responsibilities to speak out publicly
      and engage in <a href="https://www.theengineroom.org/responsible-data-leaks-and-whistleblowing/">responsible whistleblowing</a>
      without endangering users.
      <li>If we have the authority to do so,
      we will use all available legal defenses to stop these practices.
      <li>If we do not have such authority,
      and our organizations force us to engage in such misuse,
      we will resign from our positions rather than comply.
    </ul>

  <li>We will raise awareness and ask critical questions
  about the responsible and fair use of data and algorithms
  beyond our organization and our industry.
</ul>

<p class="note">Learn more <a href="about.html">about the pledge</a> or read more <a href="resources.html">resources</a>.</p>

<p class="note">
Signatories&rsquo; references to affiliated organizations below
are for identification purposes
and are not intended to imply an endorsement by the organization.
</p>
