<h1>Additional resources</h1>

<p></p>

<h2>Practical implementation advice</h2>

<ul>
  <li><a href="https://blog.torproject.org/blog/technology-hostile-states-ten-principles-user-protection">Technology in Hostile States: Ten Principles for User Protection</a> by Mike Perry</li>
</ul>

<h2>Donate</h2>
<ul>
  <li><a href="https://www.aclu.org/">American Civil Liberties Union</a>
  <li><a href="https://www.cair.com/">Council on American-Islamic Relations</a>
  <li><a href="http://www.advancingjustice-alc.org/programs/national-security-and-civil-rights-2/">Asian Law Caucus</a>
  <li><a href="https://www.splcenter.org/">Southern Poverty Law Center</a>
  <li><a href="http://mpowerchange.org">MPower Change: Muslim Grassroots Movement</a>
  <li><a href="http://www.drumnyc.org/">DRUM – Desis Rising Up and Moving</a>
  <li><a href="http://centerformediajustice.org/">Center for Media Justice</a>
  <li><a href="https://www.propublica.org/">ProPublica</a>
</ul>

<h2>Volunteer</h2>
<ul>
  <li><a href="http://www.showingupforracialjustice.org/">Showing Up for Racial Justice</a>
  <li><a href="https://www.codeforamerica.org/join-us/volunteer-with-us/list-of-all-brigades">Code for America Brigades</a>
</ul>

<h2>Legal assistance and referrals</h2>
<ul>
  <li><a href="https://www.eff.org/pages/legal-assistance">Electronic Frontier Foundation’s Cooperating Attorneys List</a>
  <li>State and local lawyer referral services
  <ul>
    <li>San Francisco Bay Area:
    <ul>
      <li><a href="https://www.sfbar.org/lawyerreferrals/">San Francisco</a>
      <li><a href="https://www.smcba.org/For%20the%20Public/How%20We%20Can%20Help%20You/LRS.aspx">San Mateo County</a>
      <li><a href="https://www.sccba.com/?lrs">Santa Clara County</a>
    </ul>
    <li><a href="http://apps.americanbar.org/legalservices/lris/directory/home.html">All others: See the American Bar Association’s Lawyer Referral Directory</a>
  </ul>

  <li>State labor law enforcement agencies
  <ul>
    <li><a href="https://www.dir.ca.gov/dlse/dlseRetaliation.html">State of California Labor Commissioner’s Retaliation Complaint Investigation Unit</a>
    <li><a href="http://www.dfeh.ca.gov/Employment/">California Department of Fair Employment and Housing</a>
  </ul>
</ul>

<h2>Other resources</h2>
<ul>
  <li><a href="https://responsibledata.io/">Responsible Data Forum</a> (data ethics)
  <li><a href="https://datasociety.net/">Data &amp; Society</a> (research on social impact of data)
  <li><a href="http://www.acm.org/about-acm/acm-code-of-ethics-and-professional-conduct">ACM Software Engineering Code of Ethics and Professional Practice</a> (and <a href="http://ethics.acm.org/code-of-ethics/code-2018/">revisions committee</a>)
  <li><a href="https://ssd.eff.org/">EFF&rsquo;s Surveillance Self-Defense Guide</a>
</ul>

<h2>Further reading</h2>
<ul>
  <li><a href="http://www.nybooks.com/daily/2016/11/10/trump-election-autocracy-rules-for-survival/">Autocracy: Rules for Survival</a> by Masha Gessen
  <li><a href="http://www.nybooks.com/daily/2016/11/27/trump-realism-vs-moral-politics-choice-we-face/">Trump: The Choice We Face</a> by Masha Gessen
  <li><a href="https://thecorrespondent.com/5696/were-heading-into-dark-times-this-is-how-to-be-your-own-light-in-the-age-of-trump/1611114266432-e23ea1a6">We’re heading into dark times. This is how to be your own light in the Age of Trump</a> by Sarah Kendzior
  <li><a href="http://qz.com/846940/a-yale-history-professors-20-point-guide-to-defending-democracy-under-a-trump-presidency/">A Yale history professor’s powerful, 20-point guide to defending democracy under a Trump presidency</a> by Timothy Snyder
</ul>
