{% include header.html %}

<section class="main-content">
{% include main_content.html %}

<p class="note">
<span id="count"></span>

<p>Signed,</p>

<ul class="signatories" id="signatories">
  {% assign sorted_signatures = site.signatures | sort: 'name' %}
  {% for sig in sorted_signatures %}{% if sig.name %}
  {% if sig.github %}<li id="github-user-{{sig.github}}">{% else %}<li>{% endif %}{% capture name %}{% if sig.display_name %}{{sig.display_name}}{% else %}{{sig.name}}{% endif %}{% endcapture %}
  {% if sig.link %}<a rel="nofollow" href="{{sig.link}}">{{name}}</a>{% else %}{{name}}{% endif %}{% if sig.occupation_title %}, {{sig.occupation_title}}{% endif %}{% if sig.organization %}, {{sig.organization}}{% endif %}{% if sig.affiliation %}, {{sig.affiliation}}{% endif %}
  </li>{% endif %}{% endfor %}
</ul>

<script>
  var count = document.getElementById('count');
  var signatories = document.getElementById('signatories');
  count.innerText = 'Number of signatories: ' + signatories.childElementCount + '.';
</script>


<h2>How to participate</h2>

<p>
The response to this pledge has been much larger than we expected;
thank you for your support!

<p>
We do our best to verify every signature that appears on this page.
It requires a great deal of human effort to verify thousands of signatures,
so we <a href="https://twitter.com/neveragaintech/status/811299101358915588"
>stopped accepting new signatures for manual verification
at noon PST Dec 21</a>, after accepting signatures for 8 days.
We are still processing a large backlog of submitted signatures,
so the number of signatures on this page will continue to increase,
but we are no longer accepting new signatures.

<p>
Even though we are no longer accepting new signatures to show on this page,
you can still sign the pledge or take action in many ways.
<a href="http://neveragain.tech/action.html">Learn more about what you can do.</a>


<h2>Footnotes</h2>

<ol>
  <li id="footnote1">From <a href="https://thecorrespondent.com/5696/were-heading-into-dark-times-this-is-how-to-be-your-own-light-in-the-age-of-trump/1611114266432-e23ea1a6">We&rsquo;re heading into dark times. This is how to be your own light in the Age of Trump</a> by Sarah Kendzior
</ol>
</section>

{% include footer.html %}
