{% include header.html %}

<section class="main-content">
{% include main_content.html %}

<p class="note">
<span id="count"></span>
To sign, <a href="#howtosign">please see below</a>.

<p>Signed,</p>

<ul class="signatories" id="signatories">
  {% assign sorted_signatures = site.signatures | sort: 'name' %}
  {% for sig in sorted_signatures %}{% if sig.name %}
  {% if sig.github %}<li id="github-user-{{sig.github}}">{% else %}<li>{% endif %}{% capture name %}{% if sig.display_name %}{{sig.display_name}}{% else %}{{sig.name}}{% endif %}{% endcapture %}
  {% if sig.link %}<a rel="nofollow" href="{{sig.link}}">{{name}}</a>{% else %}{{name}}{% endif %}{% if sig.occupation_title %}, {{sig.occupation_title}}{% endif %}{% if sig.organization %}, {{sig.organization}}{% endif %}{% if sig.affiliation %}, {{sig.affiliation}}{% endif %}
  </li>{% endif %}{% endfor %}
</ul>

<script>
  var count = document.getElementById('count');
  var signatories = document.getElementById('signatories');
  count.innerText = 'Number of signatories: ' + signatories.childElementCount + '.';
</script>


<a name="howtosign"></a><h2>How to sign this pledge</h2>

<p>The response to this pledge has been much larger than we expected,
and it has required a great deal of human effort
to verify thousands of signatures,
so we will only be manually verifying signatures for a limited time.

<p>If you would like your signature to appear on this website,
please submit it <strong>by noon PST Dec 21</strong>
following <strong><a href="https://github.com/neveragaindottech/neveragaindottech.github.io/blob/master/README.md">these instructions</a></strong>.
We will process and validate all the signatures received by that time.

<p>After that time, you can still sign the pledge in many ways.
Remember, the pledge is a personal, individual commitment;
announcing your commitment is an invitation to others
to help you hold yourself accountable.
Here are some ways to do that:
<ul>
  <li>Tweet "I, <var>&lt;your name&gt;</var>, hereby commit to the neveragain.tech pledge. Please stand with me and hold me to it. #neveragaintech"
  <li>Post "I, <var>&lt;your name&gt;</var>, hereby commit to the neveragain.tech pledge. Please stand with me and hold me to it." on your personal website or blog, with a link to http://neveragain.tech/.
  <li>Print out the pledge and sign it on paper.  Post it in a visible location to show solidarity and gather signatures from your teammates.  Host a signing party at your workplace.
</ul>

<p>We are heartened and grateful for your enthusiasm and support.  If you are passionate about this issue, please get involved!  There is plenty more to be done.  We'll be posting a guide to constructive action shortly.


<h2>Footnotes</h2>

<ol>
  <li id="footnote1">From <a href="https://thecorrespondent.com/5696/were-heading-into-dark-times-this-is-how-to-be-your-own-light-in-the-age-of-trump/1611114266432-e23ea1a6">We&rsquo;re heading into dark times. This is how to be your own light in the Age of Trump</a> by Sarah Kendzior
</ol>
</section>

{% include footer.html %}
